* {
    /* padding: 0;
    margin: 0; */
}

button {
    color: red;
}

button {
    color: blue;
    color: aqua;
}

button[onclik] {
    background: red;
}

.my-element {
    color: blue;
}

h1 {
    color: red;
}

header {
    display: flex;
    justify-content: space-between;
}

nav {
    margin: auto 0;
}

.nav-list {
    display: flex;
    list-style: none;
    justify-content: space-between;
}

li:not(:first-child) {
    margin-left: 20px;
}


/* 擬似クラスセレクタ */

:hover {
    color: black;
}


/* 属性セレクタ */

[href='#'] {
    color: red;
}

div:not(.my-element) {
    color: pink;
}

.heading {
    background-color: black !important;
    background-color: pink;
}

#heading {
    background-color: blue;
}

.my-button {
    display: inline-block;
    padding: 1rem 2rem;
    text-decoration: none;
    background: pink;
    font: inherit;
    text-align: center;
}