#quiz-container {
    width: 300px;
    margin: auto;
    text-align: center;
}

.btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    margin: 5px;
}