<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Layoutを学ぶ</title>
</head>

<body>
    <ul class="colored">
        <li>
            <h1>Test Title 1</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam eos quo ipsa maiores tempora animi, repudiandae et, quia, laudantium recusandae possimus qui tempore soluta voluptas iusto debitis excepturi odio non?</p>
        </li>
        <li>
            <h1>Test Title 2</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam eos quo ipsa maiores tempora animi, repudiandae et, quia, laudantium recusandae possimus qui tempore soluta voluptas iusto debitis excepturi odio non?</p>
        </li>
    </ul>
    <h1>All countries</h1>
    <ul class="countries">
        <li>Argentina</li>
        <li>Aland Islands</li>
        <li>Albania</li>
        <li>Algeria</li>
        <li>American Samoa</li>
        <li>Andorra</li>
        …
    </ul>
</body>

</html>